<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<style>
  img  {width: 100%; height: 100%; object-fit: contain;}
  </style>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron text-center" style="background-image: url(../static/images/pia22594.jpg);">
          <h1>Mission to Mars</h1>
          <p style="color: rgb(255, 0, 0);">Pandas. BeautifulSoup. Splinter. MongoDB. PyMongo.</p>
          <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>
        {% if mars %}
        <div class="row">
          <div class="col-md-12">

            <h2 style="font-weight: bold">Latest Mars News</h2>
            <h4 style="font-weight: bold;">{{ mars.news_title }}</h4>
            <p style="color: black; font-size: medium;">{{ mars.news_p }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8" >
            <h2 style="font-weight: bolder;">Featured Mars Image</h2>
            <img src={{ mars.featured_image_url }} alt="The featured image from JPL" />
          </div>
          <div class="col-md-4">
            <h4 style="font-weight: bold; padding-left: 25px;">Mars Facts</h4>
            <div>
              {{ mars.mars_table | safe }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h2 class=text-center style="font-weight: bold; margin-bottom: 1px; margin-top: 40px;">Mars Hemispheres</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="card" style="margin: 20px;">
              <img class="card-img-top" src={{ mars.hemispheres[0]['img_url'] }} alt="An image of the Valles Marineris Hemisphere of Mars"/>
              <div class="card-body">
                <h3 class="card-title text-center" style="margin-top: 10px; margin-bottom: 20px;">{{ mars.hemispheres[0]['title'] }}</h3>                
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card" style="margin: 20px;">
              <img class="card-img-top" src={{ mars.hemispheres[1]['img_url'] }} alt="An image of the Schiaparelli Hemisphere of Mars"/>
              <div class="card-body">
                <h3 class="card-title text-center" style="margin-top: 10px; margin-bottom: 20px;">{{ mars.hemispheres[1]['title'] }}</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card" style="margin: 20px;">
              <img class="card-img-top" src={{ mars.hemispheres[2]['img_url'] }} alt="An image of the Syrtis Major Hemisphere of Mars"/>
              <div class="card-body">
                <h3 class="card-title text-center" style="margin-top: 10px; margin-bottom: 20px;">{{ mars.hemispheres[2]['title'] }}</h3>                
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card" style="margin: 20px;">
              <img class="card-img-top" src={{ mars.hemispheres[3]['img_url'] }} alt="An image of the Valles Marineris Hemisphere of Mars"/>
              <div class="card-body">
                <h3 class="card-title text-center" style="margin-top: 10px; margin-bottom: 20px;">{{ mars.hemispheres[3]['title'] }}</h3> 
              </div>
            </div>
          </div>
        </div>

      </div>
        {% endif %}
        
      </div> 
    </div>
  </div>

  <div class="footer">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </div>

</body>

</html>
