h1 {
    color: blue;
}

.jumbotron h1, h5{
    color: rgb(255, 0, 0);
}
.jumbotron-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

  }
  
.tr {
    text-align: left;
    padding-left: 3px;
}

p {
    color: black;
}
